name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Protobuild CI
    runs-on: ubuntu-20.04
    timeout-minutes: 5
    steps:

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16.x
      id: go

    - name: Setup environment
      shell: bash
      run: |
        echo "GOPATH=${{ github.workspace }}" >> $GITHUB_ENV
        echo "${{ github.workspace }}/bin" >> $GITHUB_PATH

    - name: Check out code
      uses: actions/checkout@v2
      with:
        path: src/github.com/containerd/protobuild
        fetch-depth: 25

    - name: Project checks
      uses: containerd/project-checks@v1
      with:
        working-directory: src/github.com/containerd/protobuild

    - name: Build
      working-directory: src/github.com/containerd/protobuild
      run: |
        go build .
